nav {
    display: block;
    background-color: #C8A2C8;
    padding: 10px;
}
nav a {
    color: #8DB600;
    display: block; 
    padding: 10px;
}
h1 {
    color: #C8A2C8;
}
main img {
    width: 150px;
    height: auto;
    border: 1px solid rgb(137, 33, 153);
    padding: 2px;
    box-shadow: 0 0 30px pink;
}

p {
    padding: 0;
}

aside {
    width: 20em;
    margin: 1em;
    border: 1px solid rgba(136, 13, 155, 0.2);
    padding: 1em;
    background-color: #00ffff;
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

footer { 
    margin-top: 1em;
    border-top: 1px solid #d2dc4b;
    text-align: center; 
}
